<!DOCTYPE html>
<html>
<head>
	<title>Picture</title>

</head>
<body>
<img src="http://d14dsi4x2zx6ql.cloudfront.net/files/styles/welcome_image/public/SanDiego_Skyline_JohnBahu_1280x642_downsized.jpg?itok=o7dZFybo">
</body>
</html>
